.directions-overlay {
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    width: 100vw;
    position: absolute;
    top: 30px;
    left: 0px;
}

.directions-detailed-steps {
    bottom: 7.5vh;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.85);
}

.direction-step {
    padding: 5px;
}

.direction-step-list {
    padding-bottom: 12.5vh;
}
